@tailwind base;
@tailwind components;
@tailwind utilities;

.time{
    color: #e0eff2;
    font: italic bold 100px Georgia, Serif;
    text-shadow: -4px 3px 0 #3a50d9, -13px 6px 0 #0a0e27;
    background-color: #242B2E;
    margin-top: 20px;
  }
  .shadow1{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }